
.products{
  display: flex;
  justify-content: center;
  align-items: center;
}
.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.productCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px ;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  
  h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 8px;
  }

  .price {
    font-weight: bold;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;

    button {
      padding: 8px 12px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 0.9rem;
      transition: all 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }

    .deleteButton {
      background-color: #e74c3c;
      color: white;
      &:hover {
        background-color: #c0392b;
      }
    }

    .detailsButton {
      background-color: #3498db;
      color: white;
      &:hover {
        background-color: #2980b9;
      }
    }

    button svg {
      font-size: 1.3rem;
      color: #f39c12;
      transition: color 0.3s ease;

      &:hover {
        color: #f1c40f;
      }
    }
  }
}

.mainsection{
  background-color: #F6214B;
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    color: white;
    .left{
      display: flex;
      flex-direction: column;
      gap: 10px;
      h6{
        font-size: 1.5rem;
      }
      h1{
        font-size: 3rem;
      }
      .consultancy{
        width: 250px;
        font-size: 1.5rem;
        padding: 5px;
      }
    }
  }
}




.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
  .top{
    text-align: center;
    h1{
      font-size: 2.5rem;
    }
    p{
      font-size: 1.4rem;
    }
  }
  .bottom{
    display: flex;
    gap: 50px;
    .boxs{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      img{
        width: 100%;
      }
      .country{
        border: 1px solid black;
        background-color: black;
        color: white;
        font-size: 1.5rem;
        width: 35%;
        padding: 10px 9px 10px 9px;
        transition: 0.4s;
        cursor: pointer;
        &:hover{
          background-color: #F6214B;
          border: 1px solid #F6214B;

        }
      }
      h3{
        font-size: 1.4rem;
      }
      p{
        font-size: 1.3rem;
      }
    }
  }
}