* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body, html {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(0, 0, 0);
}


header .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orange;
    margin-bottom: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    width: 100%; 
    background-color: rgb(103, 102, 102);
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box; 
}


header .container {
    padding-top: 120px; 
}

header .head nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

header .head nav ul li {
    padding-left: 30px;
}

header .text {
    text-align: center;
    margin-bottom: 60px;
    color: orange;
}

header .text .h-1 {
    padding-bottom: 20px;
}

header .text .bottom button {
    text-align: center;
    margin-bottom: 60px;
    color: white;
    background-color: orange;
    border-radius: 100px;
    border: 3px solid orange;
    padding: 10px;
}

header .text .bottom button a {
    text-align: center;
    margin-bottom: 60px;
    color: white;
    background-color: orange;
    font-size: 30px;
    border-radius: 30px;
}


/* ------------------ */
section#services .container .txt{
    text-align: center;
    margin-bottom: 40px;
}

section .container .row .col-4 .icon{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 80px;
    height: 60px;
    border-radius: 100px;
    
    

}
section .container .row .col-4 .icon i{
    color: white;
    font-size: 45px; 
        
}
section .container .row h1{
    text-align: center;
    font-size: 1.5em;
}

section .container .row p{
    text-align: center;
    font-size: 15px;
}
/* -----------section-2------------ */

section#services-2{
    background-color: rgb(228, 241, 241);
}

section#services-2 .txt{
    padding-top: 30px;
}

section#services-2 .container .txt{
    margin: 70px 0 30px;
    text-align: center;

}
section#services-2 .container .row .col-4 .img:hover {
    transform: scale(1.2);
  
}
section#services-2 .container .row .col-4 .img img{
    width: 100%;
}
section#services-2 .container .row .col-4 h1{
    text-align: center;
    
}



/* ---------footer--------- */
footer{
    background-color: rgb(225, 215, 215);
}
footer .row{
    padding: 20px 0px;
}
footer .row .col-3{
    text-align: center;
}
footer .row .col-3 a{
    color: rgb(44, 41, 41);
    
    font-size: 20px;
}


/* section-4 */
#section4{
    padding: 70px;
}
#section4 .team{
    text-align: center;
    margin-bottom: 20px;
}
#section4 .phote{
    display: flex;
    justify-content: center;
    align-items: center;
}
#section4 .img{
    width: 224px;
    height: 224px;
    border: 10px solid rgb(236, 232, 232);
    border-radius: 50%;
    overflow: hidden;
}
#section4 .img img{
    width: 100%;
    height: 100%;
    
}
#section4 .name{
    padding:10px 0px;
    text-align: center;
}
#section4 .icon-main{
    display: flex;
    justify-content: center;
    align-items: center;

}
#section4 .icon-main i{
    font-size: 23px;
    padding: 5px;
    margin-left: 8px;
    border-radius: 50%;
    background-color: black;
    color: white;
    
}
#section4 .team-start{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section4 .team-end{
    text-align: center;
    font-size: 20px;
    width: 50%;
}


/* section-3 */
#section3{
    background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-jplenio-1103970.jpg&fm=jpg);
    padding-top: 30px;
}
.trt{
    font-size: 50px;
    color: white;
    margin: 0 auto;
    text-align: center;
}
#section3 .row .login input{
    width: 530px;
    height: 67px;
}

#section3 .row .col-6-2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#section3 .row #massage textarea{
    width: 530px;
    height: 202px;
}

#section3 .col-12{
    display: flex;
    justify-content: center;
    align-items: center;
}

#section3 .row .buttom button{
    color: white;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 100px;
    
    
}
#section3 .row .buttom button a{
    color: white;
    background-color: orange;
    font-size: 30px;
    border-radius: 100px;
    padding: 10px;
    
    
}
/* finale */
#finale{
    margin: 30px;
}
#finale .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#finale .container .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#finale .container .icon .same-icon {
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
}
#finale .container .icon i{
    margin: 10px;
    font-size: 20px;

}
#finale .container .icon a{
    padding: 10px;
   color: white;
   background-color: black;
   border-radius: 50%;
   
    
}
header .head .aycon{

    display: none;
}

















/* ---------media--------- */
@media only screen and ( max-width: 1023px ){
    .row .col-md-3 {
        
      }
    }

@media only screen and ( max-width: 1023px ){
    .row .col-md-4 {
        
      }
    }

@media only screen and ( max-width: 767px ){
        /* .row .col-sm-6 {
            
            }
        } */
    .container .head .nav ul{
        display: none;
        }
    .container .head .icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container .head .icons .bar{
        margin-bottom: 20px;
        margin-right: 20px;
        background-color: rgb(255, 0, 0);
        padding: 5px;
    }
    .container .head .icons .many{
        margin-bottom: 20px;
        background-color: rgb(255, 0, 0);
        padding: 5px;
    }
    .container .head .icons a{
        color: white;
    }
}
    

@media only screen and ( max-width: 563px ){
    .row .col-ssm-12 {
        
        }
    }

