*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;

}
header{
    background-color: rgb(0, 0, 0);
}

header .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orange;
    margin-bottom: 60px;
}

header .head nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    
}
header .head nav ul li{
    padding-left: 30px;
}

header .text{
    text-align: center;
    margin-bottom: 60px;
    color: orange;
}
header .text .h-1{
    padding-bottom: 20px;
}
header .text .bottom button{
    text-align: center;
    margin-bottom: 60px;
    color: white;
    background-color: orange;
    border-radius: 100px;
    border: 3px solid orange;
    padding: 10px;

}
header .text .bottom button a{
    text-align: center;
    margin-bottom: 60px;
    color: white;
    background-color: orange;
    font-size: 30px;
    border-radius: 30px;

}

/* ------------------ */
section#services .container .txt{
    text-align: center;
    margin-bottom: 40px;
}

section .container .row .col-4 .icon{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 80px;
    height: 60px;
    border-radius: 100px;
    
    

}
section .container .row .col-4 .icon i{
    color: white;
    font-size: 45px; 
        
}
section .container .row h1{
    text-align: center;
    font-size: 1.5em;
}

section .container .row p{
    text-align: center;
    font-size: 15px;
}
/* -----------section-2------------ */

section#services-2{
    background-color: rgb(228, 241, 241);
}

section#services-2 .txt{
    padding-top: 30px;
}

section#services-2 .container .txt{
    margin: 70px 0 30px;
    text-align: center;

}
section#services-2 .container .row .col-4 .img{
  
}
section#services-2 .container .row .col-4 .img img{
    width: 420px;
    height: 270px;
}
section#services-2 .container .row .col-4 h1{
    text-align: center;
    
}



/* ---------footer--------- */
footer{
    background-color: blue;
}
footer .row{
    padding: 20px 0px;
}
footer .row .col-3{
    text-align: center;
}
footer .row .col-3 a{
    color: rgb(170, 168, 168);
    
    font-size: 20px;
}


/* ---------media--------- */
@media only screen and ( max-width: 1023px ){
    .row .col-md-3 {
        
      }
    }

@media only screen and ( max-width: 1023px ){
    .row .col-md-4 {
        
      }
    }

@media only screen and ( max-width: 767px ){
    .row .col-sm-6 {
        
        }
    }
    

@media only screen and ( max-width: 563px ){
    .row .col-ssm-12 {
        
        }
    }

