.lis ul.ul{
    background: yellow;
}
.coding p{
    color: red;
    
}
.inside p{
    background-color: blue;
}
.onside p{
    background-color: green;
}
.red p{
    color: red;
}
.geeks a{
    color: blue;
}
.google a{
    color: blue;
    background-color: yellow;
}