header .container{
    display: flex;
    gap: 20px;
    
    
    
    
}
header .plyus-minus{
    display: flex;
    gap: 10px;
    width: 100px;
    justify-content: space-evenly;
    
    
    
}
header .plyus-minus .plyus{
    padding: 10px;
    width: 30px;
}
header .plyus-minus .minus{
    padding: 10px;
    width: 30px;
}
header .container .input{
    display: flex;
    justify-content: center;
    align-items: center; 
       
}

header .container .input input{
    font-size: 18px;
    padding: 10px;    
       
}
header .container .button{
    display: flex;
    justify-content: center;
    align-items: center;    
       
}
header .container .button button{
    font-size: 15px;
    padding: 5px;  
       
}
header .p-text p{
    font-size: 18px;
}