*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    list-style-type: none;
    text-decoration: none;
}

header {
    border-top: 1px solid rgb(204, 199, 199);
    border-bottom: 1px solid rgb(204, 199, 199);
    padding: 10px 0px;
}
header .container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .row .icons{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 17px;
    
}
header .container .row .icons i{
    color:  #d9dbdd;
    transition: 0.3s;
}
header .container .row .icons i:hover {
    color: orange
    
}   

header .container .row .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
header .container .row .buttons .button{
    border: 1px solid #d9dbdd;
    padding: 5px 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
header .container .row .buttons .eng{
    background-color: #e6eaee;
}
header .container .row .buttons .eng a{
    color: rgb(102, 101, 101);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
header .container .row .buttons .quote{
    background-color: orange;
    transition: 0.3s;
}
header .container .row .buttons .quote a{
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
header .container .row .buttons .quote:hover{
    background-color: white;
    border-color: orange;
}
header .container .row .buttons .quote:hover a{
    color: black;
}
/* section-nav */
section#nav{
    padding: 30px;
}
section#nav .container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section#nav .container .row .nav{
    display: flex;
    justify-content: center;
    align-items: center;

}
section#nav .container .row .nav nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
section#nav .container .row .nav nav li{
    transition: 1s;
    font-size: 18px;

}
section#nav .container .row .nav nav li a{
    color: black;

}
section#nav .container .row .nav nav li a.home{
    color: orange;

}
section#nav .container .row .nav nav li:hover a{
    color: orange;

}
section#nav .container .row .nav .nav-icon{
    padding-left: 60px;
    

}
section#nav .container .row .nav .nav-icon a{
    color: black;
    

}
/* section-back-img */
section#back-img{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230304/pngtree-rainy-weather-background-of-coastal-city-buildings-image_1745086.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#back-img .dream{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
    
}
section#back-img .dream .txt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
section#back-img .dream .txt .h1{
    margin-right: 5px;
    color: white;
}
section#back-img .dream .txt .h2{
    color: black;
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
    font-size: 35px;
}
section#back-img .dream p{
    text-align: center;
    width: 60%;
    color: white;
    font-size: 20px;
    padding: 20px 0px 30px 0px;
}
section#back-img .dream .buttom button{
    background-color: rgb(37, 37, 37);
    border-radius: 8px;
    padding: 15px;
    padding-left: 30px;
    opacity: 0.9;
    
}
section#back-img .dream .buttom button:hover a{
    color: black;
    
    
}
section#back-img .dream .buttom button:hover{
    background-color: orange;
    
    
}
section#back-img .dream .buttom button a{
    color: orange;
    font-size: 20px;
}

/* section-services */
section#services{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}
section#services .row-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    
    
}
section#services .row-h1 h1{
    padding-bottom: 20px;
    
    
}
section#services .h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;

}
section#services .h1 p{
    color: rgb(103, 103, 103);

}

section#services .col-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 360px;
    height: 327px;
    
}
section#services .col-4:hover{
    transform: scale(1.010);
    transition: 0.6s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
}
section#services .col-4 .img{
    text-align: center;
    
    
}
section#services .col-4 .img h1{
    padding: 20px 0px;
    width: 254px;

    
}
section#services .col-4 .img p{

    width: 250px;
    
}
/* section-latest */


section#latest .row-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 0px;
}
section#latest .row-h1 h1{
    padding-bottom: 20px;
    font-size: 30px;
}
section#latest .row2{
    width: 100%;
}



section#latest .overlay{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    padding: 20px;
    
}


section#latest .col-4{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#latest .col-4 img{
    width: 100%;
    height: 100%;
    
    opacity: 1;
}
section#latest .col-4:hover img{
    opacity: 0.5;
}
section#latest .col-4:hover .overlay{
    opacity: 0.7;
    transform: translateY(0);
    z-index: 1;
}

/* section-members */
section#members{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section#members .row-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section#members .row-text .text{
    text-align: center;
    padding: 90px 0px 40px 0px;
}
section#members .col-3 .img{
    position: relative;
    
}
section#members .col-3 .img .overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 1px;
    width: 263px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: orange;
    transition: 0.3s;
    /* transition-duration: 0.1s; */
    /* transition-delay: 0.1s; */
    /* transition-property: all; */
    transition-timing-function: ease-in-out;
    
}
section#members .col-3 .img .overlay a{
    padding: 0px 15px 0px 15px;
    color: black;
    opacity: 0.3;
    
}
section#members .col-3 .img:hover .overlay{
    opacity: 0.7;
}
section#members .col-3 .img:hover img{
    opacity: 0.5;
}
section#members .col-3 h1, p{

    text-align: center;
}
section#members .col-3 h1{
    padding-top: 20px;
}
/* section-static */
section#static{
    background-color: rgb(246, 174, 31);
    margin-top: 60px;
}
section#static .row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
}
section#static .row .col-2{
    margin-right: 20px;
    font-size: 20px;
}
/* section-unique */
section#unique{
    margin: 80px 0px;
}
section#unique .row1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}
section#unique .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#unique .text h1{
    font-size: 30px;
    padding-bottom: 15px;
}
section#unique .row2{
    display: flex;
    justify-content: center;
    align-items: center;

}
section#unique .col-4 .cards{
    border: 1px solid rgb(164, 161, 161);
    padding: 30px 50px;
    border-radius: 8px;
}
section#unique .col-4 .info{
    display: flex;
    
    align-items: center;
    margin-bottom: 20px;
}
section#unique .col-4 .info .icon{
    font-size: 160%;
    padding-right: 10px;
}
section#unique .col-4 p{
    text-align: left;
}
section#unique .col-4 .cards:hover{
    transition: 0.4s;
    transform: scale(1.02);
    box-shadow: 8px 8px 16px rgba(136, 131, 131, 0.3);
}
section#unique .col-4 .cards:hover .info{
    color: orange;
    transition: 0.6s;
}
/* section-2girls */
section#girls{
    background-color: rgb(244, 235, 245);
    padding: 50px 0px;
}

section#girls .card{
    border: 1px solid rgb(207, 202, 202);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
section#girls .head{
    display: flex;
    justify-content: center;
    align-items: center;

}

section#girls .head p{
    width: 50%;
    padding-left: 50px;
    text-align: left;
}

section#girls .card h1{
    font-size: 20px;
    padding: 30px 0px 10px;
}

section#girls .col-6 .card:hover{
    transition: 1s;
    transform: scale(1.01);
    box-shadow: 3px 3px 3px 3px rgb(147, 144, 144);
    
}
section#girls .col-6 .card:hover h1{
    transition: 1s;
    transform: scale(1.01);
    color: orange;
    
}
/* section-img */
section#img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0px;
}
section#img .row .col-2{
    margin: 0px 15px;
}
section#img .row{
    display: flex;
    justify-content: center;
    align-items: center;

}
section#img .row .img{
    opacity: 0.5;
    
}
section#img .row .img:hover{
    opacity: 1;
    transform: scale(1.01);
    transition: 0.7s;
    
}
/* footer */
footer{
    background-color: rgb(44, 43, 43);
    color: white;
}
/* .first */
footer .first{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .first .col-6{
    margin-right: 40px;
}
footer .first .col-6{
    margin-left: 40px;
}
footer .first .col-6 h1, p{
    text-align: left;
}
footer .first .col-6 h1{
    padding-bottom: 15px;
}
footer .first .col-6 p{
    padding-bottom: 10px;
}
footer .first .col-6 a{
    color: orange;
    font-size: 20px;
}
/* second */
footer .col-12{
}
footer .col-12 p{
    text-align: left;
    padding: 10px;
    
}
footer .col-12 input{
    font-size: 15px;
    width: 450px;
    margin-top:20px ;
    padding: 20px 0px;
    border-radius: 15px;
}
footer .col-12 .icons{
    text-align: center;
    background-color: orange;
    position: absolute;
    top: 35%;
    right: 30%;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 50%;
    width: 40px;


}
footer .col-12 .email{
    position: relative;
}

footer .col-12 .icons a{
    color: rgb(71, 70, 70);


}
/* footer-second-row */
footer .footer-col12{
    display: flex;
    justify-content: space-between  ;
    align-items: center;
}
footer .footer-col12 .text{
    display: flex;
    align-items: center;
}
footer .footer-col12 .text a{
    color: orange;
}
footer .footer-col12 .foot-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .footer-col12 .foot-icon .icon{
    margin-left: 20px;
    background-color: black;
    padding: 10px;
    transition: 0.3s;
}
footer .footer-col12 .foot-icon .icon a{
    color: white;
}
footer .footer-col12 .foot-icon .icon:hover{
    background-color: orange;

}
footer .footer-col12 .foot-icon .icon:hover a{
    color: rgb(55, 53, 53);
    
}

/*  */