*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    list-style-type: none;
    text-decoration: none;
}

header {
    border-top: 1px solid rgb(204, 199, 199);
    border-bottom: 1px solid rgb(204, 199, 199);
    padding: 10px 0px;
}
header .container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .row .icons{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 17px;
    
}
header .container .row .icons i{
    color:  #d9dbdd;
    transition: 0.3s;
}
header .container .row .icons i:hover {
    color: orange
    
}   

header .container .row .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
header .container .row .buttons .button{
    border: 1px solid #d9dbdd;
    padding: 5px 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
header .container .row .buttons .eng{
    background-color: #e6eaee;
}
header .container .row .buttons .eng a{
    color: rgb(102, 101, 101);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
header .container .row .buttons .quote{
    background-color: orange;
    transition: 0.3s;
}
header .container .row .buttons .quote a{
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
header .container .row .buttons .quote:hover{
    background-color: white;
    border-color: orange;
}
header .container .row .buttons .quote:hover a{
    color: black;
}
/* section-nav */
section#nav{
    padding: 30px;
}
section#nav .container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section#nav .container .row .nav{
    display: flex;
    justify-content: center;
    align-items: center;

}
section#nav .container .row .nav nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
section#nav .container .row .nav nav li{
    transition: 1s;
    font-size: 18px;

}
section#nav .container .row .nav nav li a{
    color: black;

}
section#nav .container .row .nav nav li a.home{
    color: orange;

}
section#nav .container .row .nav nav li:hover a{
    color: orange;

}
section#nav .container .row .nav .nav-icon{
    padding-left: 60px;
    

}
section#nav .container .row .nav .nav-icon a{
    color: black;
    

}
/* section-back-img */
section#back-img{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230304/pngtree-rainy-weather-background-of-coastal-city-buildings-image_1745086.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#back-img .dream{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
    
}
section#back-img .dream .txt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
section#back-img .dream .txt .h1{
    margin-right: 5px;
    color: white;
}
section#back-img .dream .txt .h2{
    color: black;
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
    font-size: 35px;
}
section#back-img .dream p{
    text-align: center;
    width: 60%;
    color: white;
    font-size: 20px;
    padding: 20px 0px 30px 0px;
}
section#back-img .dream .buttom button{
    background-color: rgb(37, 37, 37);
    border-radius: 8px;
    padding: 15px;
    padding-left: 30px;
    opacity: 0.9;
    
}
section#back-img .dream .buttom button:hover a{
    color: black;
    
    
}
section#back-img .dream .buttom button:hover{
    background-color: orange;
    
    
}
section#back-img .dream .buttom button a{
    color: orange;
    font-size: 20px;
}

/* section-services */
section#services{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}
section#services .row-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    
    
}
section#services .row-h1 h1{
    padding-bottom: 20px;
    
    
}
section#services .h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;

}
section#services .h1 p{
    color: rgb(103, 103, 103);

}

section#services .col-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 360px;
    height: 327px;
    
}
section#services .col-4:hover{
    transform: scale(1.010);
    transition: 0.6s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
}
section#services .col-4 .img{
    text-align: center;
    
    
}
section#services .col-4 .img h1{
    padding: 20px 0px;
    width: 254px;

    
}
section#services .col-4 .img p{

    width: 250px;
    
}
/* section-latest */


section#latest .row-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 0px;
}



section#latest .overlay{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.5s ease; 
    padding: 20px;
}


section#latest .col-4{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#latest .col-4 img{
    width: 100%;
    height: 100%;
    
    opacity: 1;
}
section#latest .col-4:hover img{
    opacity: 0.5;
}
section#latest .col-4:hover .overlay{
    opacity: 0.7;
    z-index: 1;
}