header{
    background-color: red;
    padding: 20px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header a{   
    color: white;
    transition: 0.4s;

}
header a:hover{
    color: blue;
    transform: scale(1.07);

}