/* head.module.scss */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  width: 100%;  
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px;
  z-index: 1;
  

  .container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    position: relative;
  }

  .name {
    font-size: 1.7rem;
    color: #c24705;
    font-weight: bold;
    display: flex;

  
    span {
      opacity: 0;
      animation: reveal 0.6s forwards;
      animation-delay: calc(0.2s * var(--i));
    }
   
  }

  .nav {
    display: flex;
    gap: 25px;

    li {
      font-size: 1.1rem;

      a {
        position: relative;
        text-decoration: none;
        color: #333;
        transition: 0.4s;
        
        &:hover {
          color: #c24705;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #c24705;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.3s ease;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
  .shortSec{
    display: none;
  }
  @media (max-width: 927px){
      .shortSec{
        display: block;
        position: absolute;
        left: 50%;
        right: 49%;
        font-size: 1.5rem;
        color: #c24705;

      }
      .nav{
        display: none;
      }
  }

  .contact {
    border: 1px solid #c24705;
    border-radius: 5px;
    padding: 10px;
    background-color: #c24705;
    transition: 0.5s;
    
    &:hover {
      background-color: black;
      border: 1px solid black;
    }

    a {
      color: white;
      font-size: 1.2rem;
    }
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
