h1 {
  font-family: Epilogue;
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: left;
  font-family: "Epilogue", sans-serif;
}
h2 {
  font-family: "Epilogue", sans-serif;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
}
h3 {
  font-family: "Epilogue", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
}
h4 {
  font-family: "Epilogue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}
h5 {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  color: #EF6D58;
}
h6 {
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
