@mixin display($justify: center,$aligin: center){
    display: flex;
    justify-content: $justify;
    align-items: $aligin;
}
@mixin for-phone-only {
    @media (max-width:512px){
        @content;
    }
}
@mixin for-phone-up-only {
    @media (max-width:767px){
        @content;
    }
}
@mixin for-phone-only {
    @media (max-width:912px){
        @content;
    }
}
@mixin for-phone-only {
    @media (max-width:1200px){
        @content;
    }
}