$first-color: rgb(40,41,62);
$second-color: rgb(239,109,88);
$third-color: rgb(177,178,185);
$fifth-color: rgb(253,240,233);
$sixth-color: rgb(57,20,0);
$seven-color: white;
$eight-color: yellow;
$p-color:#FFFFFFA3;
$ten-color:orange;
$ileven-color: #F3D1BF;
$twelf-color: rgb(127,100,84);
$thirtin-color:#391400;